
/* GAMES */
#uni .game.blocked::after {
	content: "";
	position: absolute;
	display: block;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: transparent;
	z-index: 8;
}

#uni .game.blocked.game-overlay::after {
	background: rgba(0, 0, 0, 0.2) !important;
}

/* Jogo da Memória */
#uni .memory-game {
	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem !important;
}
#uni .memory-game .flip-card {
	background-color: transparent !important;
	width: 8em !important;
	height: 12em !important;
	margin: 0.4em !important;
	perspective: 1000px;
}
#uni .memory-game .flip-card:not(.match) {
	cursor: pointer;
}
#uni .memory-game.show-all .flip-card .flip-card-inner {
	transform: rotateY(180deg);
}
#uni .memory-game .flip-card .flip-card-inner {
	position: relative;
	width: 100%;
	height: 100%;
	transition: transform 0.3s;
	transform-style: preserve-3d;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
}
#uni .memory-game .flip-card.flip .flip-card-inner {
	border-radius: 5px;
	transform: rotateY(180deg);
}
#uni .memory-game .flip-card .flip-card-inner::before,
#uni .memory-game .flip-card .flip-card-inner::after {
	content: "";
	position: absolute;
	display: block;
	width: 100%;
	height: 100%;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	backface-visibility: hidden;
}
#uni .memory-game .flip-card .flip-card-inner::after {
	background-image: url(../img/jm-sprite.png);
	background-position:center;
	background-size: 100%;
}

#uni .memory-game .flip-card .flip-card-inner::before {
	transform: rotateY(180deg);
}
#uni .memory-game .flip-card[data-n="one"] .flip-card-inner::before {
	background-image: url("../img/jm-01.png");
	background-position:center;
	background-size: 100%;
}
#uni .memory-game .flip-card[data-n="two"] .flip-card-inner::before {
	background-image: url(../img/jm-02.png);
	background-position:center;
	background-size: 100%;
}
#uni .memory-game .flip-card[data-n="three"] .flip-card-inner::before {
	background-image: url(../img/jm-03.png);
	background-position:center;
	background-size: 100%;
}
#uni .memory-game .flip-card[data-n="four"] .flip-card-inner::before {
	background-image: url(../img/jm-04.png);
	background-position:center;
	background-size: 100%;
}
#uni .memory-game .flip-card[data-n="five"] .flip-card-inner::before {
	background-image: url("../img/jm-05.png");
	background-position:center;
	background-size: 100%;
}
#uni .memory-game .flip-card[data-n="six"] .flip-card-inner::before {
	background-image: url(../img/jm-06.png);
	background-position:center;
	background-size: 100%;
}
#uni .memory-game .flip-card[data-n="seven"] .flip-card-inner::before {
	background-image: url(../img/jm-07.png);
	background-position:center;
	background-size: 100%;
}
#uni .memory-game .flip-card[data-n="eight"] .flip-card-inner::before {
	background-image: url(../img/jm-08.png);
	background-position:center;
	background-size: 100%;
}
#uni .memory-game .flip-card[data-n="nine"] .flip-card-inner::before {
	background-image: url(../img/jm-09.png);
	background-position:center;
	background-size: 100%;
}
#uni .memory-game .flip-card[data-n="ten"] .flip-card-inner::before {
	background-image: url(../img/jm-10.png);
	background-position:center;
	background-size: 100%;
}

#uni .memory-game .flip-card.match .flip-card-inner::before,
#uni .memory-game .flip-card.match .flip-card-inner::after {
	border: 5px solid #7dd9d9;
}
/* Small Screens */
@media only screen and (max-width: 640px) {
	#uni .memory-game { font-size: 100%; }

	#uni .memory-game .flip-card {
		width: 6em !important;
		height: 9em !important;
	}
}

/* Jogo Caça Palavras */

#uni .wordfind .grid,
#uni .wordfind .grid * {
	position: relative;
	display: flex;
	flex-flow: column;
}
#uni .wordfind .grid > * {
	flex-flow: row;
}
#uni .wordfind .grid .letter {
	justify-content: center;
	flex-direction: column;
	width: 5vmax;
	height: 5vmax;
	min-width: 2em;
	min-height: 2em;
	max-width: 6vw;
	max-height: 6vw;
	margin: .5%;
	border: 1px solid;
	font-size: 1em;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;

	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select:none;
	user-select:none;
	-o-user-select:none;
}
#uni .wordfind .grid .letter:hover {
	background-color: #ccc;
}
#uni .wordfind .grid .letter.highlight {
	color: #FFFFFF !important;
	background-color: #2D7070 !important;
}
#uni .wordfind .grid .letter.found {
	background-color: #222222;
}